@use "sass:math";
@use "dist/esm/index.css";

$controls-width: 17rem;
$controls-ratio: 0.395; // how much of the total width before collapsing, 0.5 collapses when 20rem is 50% of the total width
$controls-breakpoint: math.div($controls-width, $controls-ratio);

:root {
    --live-example-space: 1.5rem;
    --live-example-controls-width: #{$controls-width};
}

.code-preview {
    container-type: inline-size;
    container-name: example-container;
}

.live-example {
    &__container {
        border: var(--f-border-width-small) solid #ddddde;
        border-radius: 4px;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        grid-template-areas: "example" "controls" "code";

        @container example-container (width >= #{$controls-breakpoint}) {
            grid-template-columns: 1fr var(--live-example-controls-width);
            grid-template-areas: "example controls" "code code";
        }
    }

    &__example {
        grid-area: example;
        padding: var(--live-example-space);
        background: repeating-conic-gradient(#fff 0 90deg, rgb(235, 235, 235) 0 180deg) 0 0/20px 20px round;
        overflow: auto;
    }

    &__controls {
        grid-area: controls;
        padding: var(--live-example-space);
        border-left: var(--f-border-width-small) solid #ddddde;
    }

    &__code {
        grid-area: code;
        border-top: var(--f-border-width-small) solid #ddddde;
        background-color: #f4f4f4;

        pre {
            margin: 0;
            overflow-x: auto;

            code {
                margin: 0;
                padding: var(--live-example-space);
            }
        }
    }

    &__code-toggle {
        padding-left: var(--live-example-space);
    }

    &__code .live-example__code-toggle button {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0;
        margin-left: -0.5rem;
        padding: 0.5rem;
        font-weight: 600;
        color: var(--f-text-color-default);
    }

    &__code-languages {
        display: flex;
        align-items: center;
        margin: 0.75rem var(--live-example-space) 0 var(--live-example-space);
        border-bottom: var(--f-border-width-small) solid #ddddde;
    }
}
