<!doctype html>
<html lang="sv">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue Minimal Exempel</title>
        <link rel="stylesheet" href="./main.css" />

        <script type="importmap">
            {
                "imports": {
                    "vue": "./vue.js",
                    "prettier/standalone": "./prettier/standalone.mjs",
                    "prettier/plugins/html": "./prettier/plugins/html.mjs"
                }
            }
        </script>
    </head>
    <body>
        <div id="app">
            <live-example :template>
                <div>
                    <label for="config-element"> Element </label>
                    <select id="config-element" v-model="tagName">
                        <option value="div">div</option>
                        <option value="p">p</option>
                        <option value="em">em</option>
                    </select>
                </div>
                <div>
                    <label>
                        <input type="checkbox" v-model="placeholderText" :value="true" />
                        Use placeholder text
                    </label>
                </div>
            </live-example>
        </div>

        <script type="module" src="./index.js"></script>
    </body>
</html>
